<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/posts/new">New Post</a>
      <a href="/about">About</a>
    </nav>
  </header>